div{
flex-wrap:wrap;
}
img{
	width:100%;
}
/*
input[type="text"]{
display:inline;
width:auto;
}
input + button{
display:inline;
}*/
.selected-type {
	border: solid 1px black;
}
h6 {
	font-style: italic;
	color: gray;
}
